.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 100px;
    gap: 0px 0px;
    grid-auto-flow: row;
    height: 100dvh;
    background: black;
  }
  
  .Header { grid-area: 1 / 1 / 2 / 6; }
  
  .Content { grid-area: 2 / 1 / 3 / 6; }
  
  .Footer { grid-area: 3 / 1 / 4 / 6; }
  
  .UserIcon { grid-area: 1 / 5 / 2 / 6; }
  
  .AppIcon { grid-area: 1 / 1 / 2 / 2; }
  
  .AppIconLarge { grid-area: 1 / 2 / 2 / 5; }
  
  .Menu1 { grid-area: 3 / 1 / 4 / 2; }
  
  .Menu2 { grid-area: 3 / 2 / 4 / 3; }
  
  .Menu3 { grid-area: 3 / 3 / 4 / 4; }
  
  .Menu4 { grid-area: 3 / 4 / 4 / 5; }
  
  .Menu5 { grid-area: 3 / 5 / 4 / 6; }
  
  
  html, body, #root, .mobile-div .container{
    margin: 0;
    height: 100dvh;
  }

  .mobile-div {
    height: 100dvh;
    width: 100dvw;/* This must be explicit for mobile browser android chrome*/
    color: pink;
    border: "5px dotted yellow";
    overflow: hidden;
    position: absolute;
  }

  .centered-div {
    width: calc(0.3 * 100vw);
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }